@model LoginRegister.Models.User
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Dashboard</h1>
        <p class="text-center">@ViewBag.user.first_name @ViewBag.user.last_name</p>
    </div>
</div>