<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Random Passcode (passcode #@ViewBag.num)</h1>
        <div class="passcode">
            <p class="text-center">@ViewBag.pass</p>
        </div>
        <a href="/new" class="btn btn-primary">Generate</a>
    </div>
</div>