@{
    ViewData["Title"] = "The Dojo/Ninja Portal";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <a href="Dojos" class="btn btn-primary btn-lg">Dojos</a>
    </div>
    <div class="col-md-2">
        <a href="Ninjas" class="btn btn-success btn-lg">Ninjas</a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>